{% extends 'base.html.twig' %}

{% block title %} Show Role Details ({{ role.id }}){% endblock %}

{% block body %}
    <h1 class="display-4">Role Details ({{ role.id }})</h1>
    <a class="btn btn-primary btn-sm mb-1" href="{{ path('role_list') }}">Back to Roles</a>

    {% include 'components/flash.html.twig' with { 'flashMessages' : app.session.flashbag.all } %}

    <table class="table table-hover table-striped">
        <tr>
            <td width="20%"><b>Title </b></td>
            <td width="80%">{{ role.title }}</td>
        </tr>
        <tr>
            <td width="20%"><b>Description </b></td>
            <td width="80%">{{ role.description }}</td>
        </tr>
        <tr>
            <td width="20%"><b>Created At </b></td>
            <td width="80%">{{ role.createdAt | date('d/m/Y h:i A') }}</td>
        </tr>
    </table>
{% endblock %}